.default-dzmitrock-timer .numbers {
    background: lightseagreen;
    padding: 0.6rem;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 2rem;
}